Hikarirun__.json
{
  "name": "debug",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        -120
      ],
      "id": "309af7f5-b648-4268-9ec8-cdf8af70d01d",
      "name": "Telegram Trigger",
      "webhookId": "e1952b58-3974-472e-80aa-7ccfeeb07444",
      "credentials": {
        "telegramApi": {
          "id": "fawIAJ2ZNZhJXtkt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "dfb2d356-9f0e-429e-bfca-ec190999f6fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        40,
        -120
      ],
      "id": "ced10439-be99-4820-b9c0-4514f7c46f4b",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "920f5483-a459-41b1-86ae-c87b181e1e93",
              "name": "text",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -120
      ],
      "id": "f2276f72-d54a-4004-865f-9153f02419f6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Switch').item.json.message.message_id }}",
        "options": {
          "systemMessage": "=Your role is to analyze requests, clarify uncertainties, and, most importantly, store and retrieve \"memories\" about anything the user inputs.\n\nCore Capabilities:\nContext Awareness - The date and time is: {{ $now }}\n\nMemory Management - You interact with Supabase tools for memory handling:\n\nCall the Store_Memory tool to save new \"memories\" and remenber details and facts based on user input. Sunmarize the user's input into a 1-line sentence to be stored in a Supabase database.\n\nCall the Get_Memory tool to retrieve saved \"memories\" to answer the user's questions and draft messages.\n\nClarification Before Action - If a request is unclear, ask the user clarifying questions before calling any tools to ensure accuracy. Always call the Get_ Memory tool to check stored information before answering.\n\nMemory Handling Workflow:\nretrieves relevant memories before replying or storing new information.\n\nCheck for duplicates - If the user provides information sinilar to an existing menory, do not store it again. If a duplicate is found, acknowledge it with a response like:\n\"I already know that! Here's the info you shared earlier.\" Only store new, unique information to avoid redundancy.\n\nBehavior Guidelines:\nMaintain a professional, sweet, and friendly tone.\nBe proactive in recalling relevant infornation to enhance your responses.\nClarity ambiguous requests before executing tasks:\nConfirm actions when appropriate to ensure user expectations are met."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        -120
      ],
      "id": "0e9b0a82-2e81-4150-88ca-32fea309cd2c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        460,
        100
      ],
      "id": "8c34fc1f-9ca2-4054-8f40-71175548b776",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "3MlkHOHkrhVgnv1K",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.message_id.toString() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        120
      ],
      "id": "b8247fb3-a798-4714-bf93-31ace14225db",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "tableId": "clients",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "thread_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "nom",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.from.first_name }} {{ $('Telegram Trigger').item.json.message.from.last_name }}"
            },
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        840,
        100
      ],
      "id": "b81f8389-4e6d-4988-b2df-c44e7727b716",
      "name": "Store_Memory",
      "credentials": {
        "supabaseApi": {
          "id": "C7ijs4gEGhuHOOw4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clients",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        960,
        80
      ],
      "id": "24c5b876-c7d8-4274-b0e0-1a9a8438a3cd",
      "name": "Get_Memory",
      "credentials": {
        "supabaseApi": {
          "id": "C7ijs4gEGhuHOOw4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        840,
        -120
      ],
      "id": "aa9d1b69-6b56-40e5-af06-316199c11175",
      "name": "Telegram",
      "webhookId": "b07cbbbf-71cf-407a-8eb3-519263b48f78",
      "credentials": {
        "telegramApi": {
          "id": "fawIAJ2ZNZhJXtkt",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 643454308,
          "message": {
            "message_id": 31,
            "from": {
              "id": 7212860886,
              "is_bot": false,
              "first_name": "Hikarirun",
              "last_name": "å…",
              "username": "hikarirunn",
              "language_code": "fr"
            },
            "chat": {
              "id": 7212860886,
              "first_name": "Hikarirun",
              "last_name": "å…",
              "username": "hikarirunn",
              "type": "private"
            },
            "date": 1741756549,
            "text": "Hi"
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Store_Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af0c1917-5193-4294-b8c1-2f5092aac058",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3afd51795ea51fa25e0604fc55b0cafa31fdb1a7d764e7051539d3482821f0f"
  },
  "id": "Ff1Ean8O3L6BLLFm",
  "tags": []
}
